# Introducción

En este cuaderno emplearemos la técnica de regresión linear (*Linear Regression*) para entrenar un modelo capaz de predecir el precio de listados basado en otras características de los mismos.

La regresión linear es una de las formas más básicas de resolución de funciones de optimización mediante coeficientes. RAPIDS provee múltiples tipos de regresión simple, tales como *Logistic Regression*, *Ridge Regression* y *Lasso Regression*. Todos estos modelos comparten las mismas características de interfaz: customización de hiperparámetros, entrenamiento y predicción de un conjunto de prueba.

# Sección 1: Regresión por GPU

## Carga y tratamiento de datos

Importaciones
* **os** y **os.path**: importan utilidades de Python para tratamiento de ficheros y comprobación de rutas.
* **cudf**, **cupy** y **cuml**: librerías de RAPIDS.
* **pandas** y **numpy**: librerías de manejo de DataFrames y gestión numérica, de vectores y tablas. Equivalentes a cudf y cupy respectivamente para CPU.
* **sklearn**: librería de manejo de modelos machine learning, equivalente de cuml en CPU.

In [111]:
import os
import os.path

import cudf
import cupy as cp
import cuml
from cuml.metrics.regression import mean_squared_error as mnsq

import pandas as pd
import numpy as np
import sklearn
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error as mnsq_cpu

Ficheros de utilidades:
* **f_northing**: conversión de coordenadas latitud-longitud a norte-este, empleados en manejo de mapas y coordenadas.
* **f_northing_numpy**: equivalente de f_northing para estructuras de numpy.
* **f_price_range**: normalización de precios en rangos establecidos manualmente. Necesario para clasificación multiclase, no necesario para regresión (aunque representa una versión simplificada o normalizada del objetivo a resolver).
* **f_static_data**: funciones para cargar listas de datos estáticos, tales como nombres de ciudades a utilizar desde el directorio /data, columnas a leer por cada fichero CSV, y columnas a usar en el entrenamiento del modelo.
* **f_utils**: utilidades de conversión de datos a tipos float32/float64, limpiado de strings de precios, factorización de columnas complejas en mapas numéricos, etc.

In [112]:
%run ../utils/f_northing.py
%run ../utils/f_northing_numpy.py
%run ../utils/f_price_range.py
%run ../utils/f_static_data.py
%run ../utils/f_utils.py

Inicialización de datos:
* **cities_to_use**: lista de directorios dentro de /data sobre los que leer datasets en formato CSV. Cada directorio es una ciudad, área, estado o país.
* **columns_to_use**: lista de columnas a leer dentro de cada CSV. Todas las columnas deben existir y sus nombres deben coincidir.
* **columns_to_fit**: lista de columnas a utilizar para el entrenamiento de modelos de machine learning. Nos permite hacer múltiples usos de un dataset sin necesidad de leerlo de nuevo.

In [113]:
cities_to_use = ['sevilla']
#cities_to_use = ['shanghai']
#cities_to_use = cities_to_use_1()
#cities_to_use = cities_to_use_2()
columns_to_use = columns_to_use()
columns_to_fit = columns_to_fit()

El atributo **set_global_output_type** de cuml determina la salida de datos de las funciones de cuml. La opción 'cudf' devuelve tipos de datos que cumplen con la especificación de RAPIDS: cudf.DataFrame y Series.

Otros posibles valores (v0.18) son 'input' para mantener el formato de entrada, 'cupy' y 'numpy' para usar los formatos de las librerías correspondientes.

In [114]:
cuml.set_global_output_type('cudf')

El DataFrame **listings** representa el conjunto de datos final sobre el que realizar operaciones de ciencia de datos o machine learning. Por cada directorio de datos, leemos todos los ficheros CSV disponibles y los agregamos a **listings**.
* **standard_object_type**: algunas columnas no tienen un formato único de datos; esto puede deberse a diferentes departamentos o metodologías empleadas durante los varios *scraping* de datos de la fuente. Esta función convierte columnas (detectadas manualmente a priori) en tipo genérico *object*, que después convertiremos a un tipo de datos más apropiado para nuestro uso.
* **drop_duplicates**: dado que utilizamos múltiples *datasets* por ciudades, hay listados de AirBnB que no cambian durante varios meses. En este caso, no necesitamos datos redundantes, y los removemos del DataFrame final.
* **reset_index**: los datos de cada fichero se han unido mediante un DataFrame diferente, y por lo tanto los índices del DataFrame quedan mezclados al final del proceso. Con esta instrucción forzamos el índice de **listings** a ordenarse. La instrución añade una columna adicional con el índice antiguo, que podemos obviar con el parámetro drop=**True**.
* **shape**: instrucción que devuelve el tamaño completo del DataFrame en formato (filas, columnas)

In [115]:
listings = cudf.DataFrame()

for city in cities_to_use:
    directory = '../data/' + city + '/'
    if os.path.exists(directory):
        for file in os.listdir(directory):
            if file.endswith('.csv'):
                temp_df = cudf.read_csv(directory + file, usecols = columns_to_use)
                standard_object_type(temp_df, ['host_acceptance_rate', 'neighbourhood_cleansed'])
                if(temp_df['host_total_listings_count'].dtype != 'float64'):
                    temp_df['host_total_listings_count'] = temp_df['host_total_listings_count'].fillna(-1).astype('float64')
                if(temp_df['bathrooms'].dtype != 'float64'):
                    temp_df['bathrooms'] = temp_df['bathrooms'].fillna(-1).astype('float64')
                if(temp_df['bedrooms'].dtype != 'float64'):
                    temp_df['bedrooms'] = temp_df['bedrooms'].fillna(-1).astype('float64')
                if(temp_df['beds'].dtype != 'float64'):
                    temp_df['beds'] = temp_df['beds'].fillna(-1).astype('float64')
                if listings.size == 0:
                    listings = temp_df
                else:
                    for column in listings.columns:
                        if listings[column].dtype != temp_df[column].dtype:
                            print('Found error: '+column+' type '+listings[column].dtype.name+' doesnt match '+temp_df[column].dtype.name)
                    listings = listings.append(temp_df)
                    
listings = listings.drop_duplicates()
listings = listings.reset_index(drop=True)

Tratamiento simple:
* **type_conversion**: convertimos todas las columnas a un tipo de datos común: *float32* y *float64* son los más aceptados por los algoritmos de RAPIDS.
* **column_factorize**: dado que algunos algoritmos no suportan datos no numéricos, factorizamos las columnas de texto. La operación factorize() convierte una columna con valores no numéricos a un mapa en el que cada valor único se representa por un integer. En nuestro caso, no necesitaremos el mapa que reconoce cada valor, pero es posible usarlo para devolver formato a los datos de cara a estudio o representación.

Utilizamos versiones de tipo float64 para guardar el mayor grado posible de precisión sobre los valores numéricos, lo cual es deseable en  modelos de regresión.

In [116]:
type_conversion_64(listings, ['host_id', 'accommodates', 'number_of_reviews', 'reviews_per_month', 'minimum_nights', 'maximum_nights', 'availability_30', 'availability_90', 'availability_365', 'number_of_reviews_ltm', 'review_scores_rating', 'review_scores_accuracy', 'review_scores_cleanliness', 'review_scores_checkin', 'review_scores_communication', 'review_scores_location', 'review_scores_value', 'host_total_listings_count', 'bathrooms', 'bedrooms', 'beds'])
column_factorize_64(listings, ['neighbourhood_cleansed', 'host_response_time', 'host_is_superhost', 'host_has_profile_pic', 'host_identity_verified', 'property_type', 'room_type', 'instant_bookable'])

Tratamiento de cadenas:
* **clean_format_strings**: eliminamos el carácter '%' de campos que lo contienen, y convertimos el valor resultante a *float32*.
* **clean_format_price**: similar a la función anterior, pero eliminando caracteres de moneda (en nuestro caso, '$' y la coma de cantidades numéricas).
* **applyMap**: aplica una función sucesivamente a todos los valores de la columna indicada. Utilizaremos la función **priceRange** para normalizar los precios en rangos, a fin de simplificar el ejemplo. Esta normalización permite que el *dataset* pueda usarse para clasificación multiclase y regresión (con un margen potencial de error mayor que si empleamos los valores de precio originales).

In [117]:
clean_format_strings_64(listings, ['host_response_rate', 'host_acceptance_rate'])
clean_format_price_64(listings, ['price'])
listings['price'] = listings['price'].applymap(priceRange, 'float64')

A fin de visualizar los datos en un formato 2D similar a un mapa, convertimos las coordatas latitud-longitud en distancias norte-este, y les asignamos columnas nuevas.

El código necesario para visualizar datos se encuentra en el fichero *nb1_visual.ipynb*, Sección 3.

In [118]:
cupy_lat = cp.asarray(listings['latitude'])
cupy_long = cp.asarray(listings['longitude'])
n_cupy_array, e_cupy_array = latlong2osgbgrid_cupy(cupy_lat, cupy_long)
listings['northing'] = cudf.Series(n_cupy_array).astype('float64')
listings['easting'] = cudf.Series(e_cupy_array).astype('float64')

Visualización de las primeras 5 filas, para verificar el tratamiento de datos.

In [119]:
listings.head()

,host_id,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_total_listings_count,host_has_profile_pic,host_identity_verified,neighbourhood_cleansed,latitude,...,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,reviews_per_month,northing,easting
0,84759.0,-1.0,-1.0,-1.0,0.0,1.0,1.0,1.0,67.0,37.40358,...,10.0,10.0,10.0,10.0,8.0,10.0,1.0,0.15,-1.380266e+06,47685.257984
1,84759.0,-1.0,-1.0,-1.0,0.0,1.0,1.0,1.0,67.0,37.40358,...,10.0,10.0,10.0,10.0,8.0,10.0,1.0,0.23,-1.380266e+06,47685.257984
2,84759.0,-1.0,-1.0,100.0,0.0,1.0,1.0,1.0,67.0,37.40358,...,10.0,10.0,10.0,10.0,8.0,10.0,1.0,0.16,-1.380266e+06,47685.257984
3,84759.0,-1.0,-1.0,60.0,0.0,1.0,1.0,1.0,67.0,37.40358,...,10.0,10.0,10.0,10.0,8.0,10.0,1.0,0.17,-1.380266e+06,47685.257984
4,84759.0,-1.0,-1.0,60.0,0.0,1.0,1.0,1.0,67.0,37.40358,...,10.0,10.0,10.0,10.0,8.0,10.0,1.0,0.19,-1.380266e+06,47685.257984

## Aplicación de modelo de regresión para predicción de valores

Los modelos de regresión linear entrenan un conjunto X de columnas de datos sobre los valores de un destino y, que es una columna singular con el valor a optimizar.

Funciones:
* **train_test_split**: funcion que toma un conjunto de datos y los separa en datos de entrenamiento y datos de prueba. Esto nos permite realizar predicciónes sin separar previamente los datos. El parámetro **train_size** indica qué porcentaje debería dedicarse a entrenamiento, en nuestro caso 0.9 = 90%.
* **fit**: entrena el modelo sobre el conjunto *(X,y)* indicado. El modelo resultante puede ser reutilizado para predecir valores múltiples veces.

In [120]:
%%time
regression = cuml.LinearRegression()
x_train, x_test, y_train, y_test  = cuml.train_test_split(listings[columns_to_fit], listings['price'], train_size=0.9)
x_test_index = x_test.reset_index(drop=True)
y_test_index = y_test.reset_index(drop=True)
regression.fit(x_train, y_train)

CPU times: user 18.7 ms, sys: 0 ns, total: 18.7 ms
Wall time: 18.7 ms

LinearRegression(algorithm='eig', fit_intercept=True, normalize=False, handle=<cuml.raft.common.handle.Handle object at 0x7f8a1c2bad10>, verbose=4, output_type='cudf')

Visualización de los coeficientes de cada variable de entrada en X sobre el modelo.

In [121]:
coef_map = cudf.DataFrame()
coef_map['key'] = columns_to_fit
coef_map['value'] = regression.coef_
print("Coefficients:")
coef_map

Coefficients:

                            key     value
0                  accommodates  0.261756
1             reviews_per_month -0.144466
2        neighbourhood_cleansed -0.002453
3            host_response_time -0.021844
4             host_is_superhost  0.164466
5          host_has_profile_pic  0.176508
6        host_identity_verified -0.312998
7                 property_type  0.016264
8                     room_type -0.242231
9                     bathrooms  0.300378
10                     bedrooms  0.166051
11                         beds -0.060428
12               minimum_nights -0.008637
13              availability_30 -0.008829
14              availability_90  0.003990
15        number_of_reviews_ltm -0.002188
16         review_scores_rating  0.005715
17       review_scores_accuracy -0.064461
18    review_scores_cleanliness  0.011480
19        review_scores_checkin -0.204663
20  review_scores_communication  0.025570
21       review_scores_location  0.216067
22          review_scores_value -0.074709
23             instant_bookable  0.314586

Visualización de predicciones sobre el conjunto de prueba.

In [122]:
%%time
predictions = regression.predict(x_test_index)
y_results = cudf.DataFrame()
y_results['prediction'] = predictions
y_results['real'] = y_test_index
y_results[0:10]

CPU times: user 3.43 ms, sys: 0 ns, total: 3.43 ms
Wall time: 3.25 ms

   prediction  real
0    3.145511   1.0
1    1.755954   2.0
2    2.369831   1.0
3    2.411417   2.0
4    2.019887   1.0
5    3.300128   8.0
6    0.714206   0.0
7    2.950539   2.0
8    4.477033   4.0
9    0.991184   1.0

* **mean_squared_error (mnsq)**: calcula el error cuadrático medio sobre los valores de las columnas indicadas. Podemos ver así el error total de las predicciones.

In [123]:
loss = mnsq(y_test_index, predictions)
print(loss)

3.6522893058043797

# Sección 2: Regresión por CPU

## Carga y tratamiento de datos

La lectura y tratamiento de los datos iniciales sigue el mismo proceso que para GPU:
1. Creamos un nuevo DataFrame vacío.
2. Recorremos los directorios disponibles.
3. Agregamos los CSV, convirtiendo columnas dispares a tipo *object* si fuera necesario.
4. Eliminamos duplicados.
5. Reordenamos el índice.

In [124]:
listings_cpu = pd.DataFrame()

for city in cities_to_use:
    directory = '../data/' + city + '/'
    if os.path.exists(directory):
        for file in os.listdir(directory):
            if file.endswith('.csv'):
                temp_df_cpu = pd.read_csv(directory + file, usecols = columns_to_use)
                standard_object_type(temp_df_cpu, ['host_acceptance_rate', 'neighbourhood_cleansed'])
                if(temp_df_cpu['host_total_listings_count'].dtype != 'float64'):
                    temp_df_cpu['host_total_listings_count'] = temp_df_cpu['host_total_listings_count'].fillna("-1").astype('float64')
                if(temp_df_cpu['bathrooms'].dtype != 'float64'):
                    temp_df_cpu['bathrooms'] = temp_df_cpu['bathrooms'].fillna("-1").astype('float64')
                if(temp_df_cpu['bedrooms'].dtype != 'float64'):
                    temp_df_cpu['bedrooms'] = temp_df_cpu['bedrooms'].fillna("-1").astype('float64')
                if(temp_df_cpu['beds'].dtype != 'float64'):
                    temp_df_cpu['beds'] = temp_df_cpu['beds'].fillna("-1").astype('float64')
                if listings_cpu.size == 0:
                    listings_cpu = temp_df_cpu
                else:
                    for column in listings_cpu.columns:
                        if listings_cpu[column].dtype != temp_df_cpu[column].dtype:
                            print('Found error: '+column+' type '+listings_cpu[column].dtype.name+' doesnt match '+temp_df_cpu[column].dtype.name)
                    listings_cpu = listings_cpu.append(temp_df_cpu)
                    
listings_cpu = listings_cpu.drop_duplicates()
listings_cpu = listings_cpu.reset_index(drop=True)

Las funciones **type_conversion**, **column_factorize**, **clean_format_strings** y **priceRange** son las mismas empleadas para GPU, ya que las operaciones subyacentes tienen la misma semántica y uso para cuDF/cupy como para pandas/numpy.

* **clean_format_price_cpu**: versión específica del tratado de cadenas de precios para CPU. Es necesario cambiar ligeramente el órden y número de operaciones para que numpy pueda ejecutar el mismo reemplazo de cadenas de precios que en GPU.

In [125]:
type_conversion_64(listings_cpu, ['host_id', 'accommodates', 'number_of_reviews', 'reviews_per_month', 'minimum_nights', 'maximum_nights', 'availability_30', 'availability_90', 'availability_365', 'number_of_reviews_ltm', 'review_scores_rating', 'review_scores_accuracy', 'review_scores_cleanliness', 'review_scores_checkin', 'review_scores_communication', 'review_scores_location', 'review_scores_value', 'host_total_listings_count', 'bathrooms', 'bedrooms', 'beds'])
column_factorize_64(listings_cpu, ['neighbourhood_cleansed', 'host_response_time', 'host_is_superhost', 'host_has_profile_pic', 'host_identity_verified', 'property_type', 'room_type', 'instant_bookable'])

clean_format_strings_64(listings_cpu, ['host_response_rate', 'host_acceptance_rate'])
clean_format_price_64_cpu(listings_cpu, ['price'])
listings_cpu['price'] = listings_cpu['price'].apply(priceRange, 'float64')

La única diferencia en la conversión de coordenadas latitud-logitud a norte-este es que utilizamos funciones aritméticas provistas por numpy en lugar de cupy.

In [126]:
numpy_lat = listings_cpu['latitude'].to_numpy()
numpy_long = listings_cpu['longitude'].to_numpy()
n_numpy_array, e_numpy_array = latlong2osgbgrid_numpy(numpy_lat, numpy_long)
listings_cpu['northing'] = pd.Series(n_numpy_array).astype('float64')
listings_cpu['easting'] = pd.Series(e_numpy_array).astype('float64')

In [127]:
listings_cpu.head()

,host_id,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_total_listings_count,host_has_profile_pic,host_identity_verified,neighbourhood_cleansed,latitude,...,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,reviews_per_month,northing,easting
0,139939.0,0.0,100.0,100.0,0.0,1.0,0.0,0.0,0.0,37.39468,...,10.0,10.0,10.0,10.0,10.0,10.0,0.0,1.47,-1.381173e+06,45738.525681
1,224697.0,-1.0,-1.0,100.0,0.0,1.0,0.0,0.0,1.0,37.39855,...,10.0,10.0,10.0,10.0,10.0,9.0,0.0,0.37,-1.380775e+06,46481.183918
2,503692.0,1.0,80.0,54.0,1.0,6.0,0.0,1.0,2.0,37.39012,...,9.0,8.0,10.0,9.0,10.0,9.0,1.0,0.71,-1.381736e+06,47051.741560
3,589600.0,0.0,100.0,100.0,1.0,13.0,0.0,0.0,1.0,37.39939,...,9.0,10.0,10.0,10.0,10.0,9.0,0.0,0.76,-1.380686e+06,46598.490772
4,589600.0,0.0,100.0,100.0,1.0,13.0,0.0,0.0,3.0,37.38680,...,9.0,9.0,9.0,9.0,10.0,9.0,0.0,1.51,-1.382068e+06,46159.283423

## Aplicación de modelo de regresión

La implementación del algoritmo de división de conjuntos de entrenamiento y prueba, así como la implementación de regresión linear por parte de scikit-learn, lectura de coeficientes, predicciones y métricas de error en este ejemplo son idénticas a las empleadas por RAPIDS.

In [128]:
%%time
linreg_cpu = LinearRegression()
x_train_cpu, x_test_cpu, y_train_cpu, y_test_cpu  = train_test_split(listings_cpu[columns_to_fit], listings_cpu['price'], train_size=0.9)
x_test_cpu_index = x_test_cpu.reset_index(drop=True)
y_test_cpu_index = y_test_cpu.reset_index(drop=True)
linreg_cpu.fit(x_train_cpu, y_train_cpu)

CPU times: user 81.6 ms, sys: 42.3 ms, total: 124 ms
Wall time: 59.2 ms

LinearRegression()

In [129]:
coef_map_cpu = pd.DataFrame()
coef_map_cpu['key'] = columns_to_fit
coef_map_cpu['value'] = linreg_cpu.coef_
print("Coefficients:")
coef_map_cpu

Coefficients:

                            key     value
0                  accommodates  0.276448
1             reviews_per_month -0.137869
2        neighbourhood_cleansed -0.015365
3            host_response_time -0.037415
4             host_is_superhost -0.097527
5          host_has_profile_pic -0.206327
6        host_identity_verified  0.355903
7                 property_type  0.027293
8                     room_type -0.052430
9                     bathrooms  0.432723
10                     bedrooms  0.160836
11                         beds -0.077570
12               minimum_nights -0.007661
13              availability_30 -0.010420
14              availability_90  0.004467
15        number_of_reviews_ltm -0.002927
16         review_scores_rating  0.003432
17       review_scores_accuracy -0.029681
18    review_scores_cleanliness  0.043702
19        review_scores_checkin -0.157363
20  review_scores_communication  0.054040
21       review_scores_location  0.081139
22          review_scores_value -0.056334
23             instant_bookable -0.282674

In [130]:
%%time
predictions_cpu = linreg_cpu.predict(x_test_cpu_index)
y_results_cpu = pd.DataFrame()
y_results_cpu['prediction'] = predictions_cpu
y_results_cpu['real'] = y_test_cpu_index
y_results_cpu[0:10]

CPU times: user 23.2 ms, sys: 3.55 ms, total: 26.8 ms
Wall time: 4.69 ms

   prediction  real
0    2.452140   2.0
1    1.419851   1.0
2    2.194651   4.0
3    2.409157   5.0
4    2.620828   0.0
5    1.892014   2.0
6    3.134414   3.0
7    2.475631   2.0
8    1.421111   0.0
9    3.100629   2.0

In [131]:
loss_cpu = mnsq_cpu(y_test_cpu_index, predictions_cpu)
print(loss_cpu)

3.8709806040369856

In [132]:
%reset -f